name: Smoke Test

on:
  workflow_run:
    workflows: ["Deploy to ECS"]
    types:
      - completed

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run Smoke Test
        run: ./smoke_test.sh
        env:
          APP_URL: ${{ secrets.APP_URL }}

